body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
header{
    background-color: aqua;
    color: rgb(240, 240, 240);
    text-align: left;
    padding: 10px;
    display: flex;
}
header ul{
    list-style: none;
    display: flex;
}
header ul li{
   padding-right: 20px;
}
main{
    display: flex;
    justify-content: space-between;
}
.tabla{
    flex: 1;
    background-color: rgb(86, 213, 230);
    padding: 20px;
}

.dd{
    flex: 1;
    background-color: rgb(86, 213, 230);
    padding: 20px;
}

label{
    font-weight: bold;
}
input[type="text"],
input[type="tel"],
textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc80;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="date"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc80;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

#resultado{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc80;
    border-radius: 4px;
    box-sizing: border-box;
}
